<%= turbo_stream_from user %>

<%= turbo_frame_tag user.email do %>
  <div class="m-2 p-6 border border-gray-200 rounded-lg shadow flex items-center content-center justify-between">
    <p class="text-xl lg:basis-1/5 mb-2">
      <%= user.email %>
    </p>


      <%= button_to "Delete",
                    delete_user_score_board_path(email: user.email),
                    method: :post,
                    class: "bg-teal-300 rounded-md p-2" %>
  </div>
<% end %>