
<form action="<%=add_user_score_board_path(@score_board)%>" method="post" class="form flex justify-between">
  <input type="email" name='email' class="block mb-2 text-sm font-medium text-gray-900 mr-2 bg-teal-100" autofocus/>
  
  <div class="flex">
      <input type="submit" class="bg-teal-300 rounded-md p-2 mr-2" value="Add"/>
  </div>
</form>