<main class="container">
  <%= link_to sanitize("&larr; Back to ScoreBoards"), score_boards_path %>

  <div class="header">
    <h1>New Score Board</h1>
  </div>

  <%= turbo_frame_tag @score_board do %>
    <%= render "form", score_board: @score_board %>
  <% end %>
</main>